
.todo-container {
  background-color: #f4f4f4; 
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 30px auto;
  font-family: 'Arial', sans-serif;
  border: 1px solid #e0e0e0; 
}

input {
  width: calc(100% - 24px); 
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  border-color: lightseagreen; 
  box-shadow: 0 0 8px lightseagreen; 
  outline: none;
}


button {
  background-color: lightseagreen; 
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: darkcyan; 
  transform: scale(1.05);
}

button:focus {
  outline: none;
}


.container {
  margin: 0 auto;
  max-width: 700px;
}


.kg-button {
  min-width: 90px;
}

.kg-row {
  margin: 15px 0;
}
